.preview {
    height: 2.5rem;
    background-color:var(--card-colour);
    display: flex;
    padding: 0.25rem 0;
    margin: 0.25rem 0.25rem;
    border-radius: 0.25rem;
    color: var(--icons);
}

.preview:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

.previewImage {
    height: 2.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
}

.previewInfo {
    display: flex;
    flex-direction: column;
}

.previewTitle {
    font-size: 1rem;
    margin: 0 0 0 1rem;
    font-weight: 600;
}

.previewSubscribers{
    font-size: 0.5rem;
    margin: 0 0 0 1rem;
}