.subredditInfo {
    position: sticky;
    display: flex;
    top: 6.25rem;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    color: var(--icons);
    border: 1px solid var(--border-colour);
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.subredditHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerImage {
    height: 2rem;
}

.displayName {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    color: var(--icons);
}

.nameDescription {
    display: flex;
    height: 18rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.nameDescription h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.nameDescription p {
    overflow-y: scroll;
}

.subscribers {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .subredditInfo {
        max-width: initial;
        margin-right: 0;
    }

    .subredditHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .headerImage {
        height: 3rem;
    }

    .displayName {
        font-size: 2rem;
    }

    .nameDescription {
        height: 10rem;
    }

    .nameDescription h3 {
        margin: 0;
    }
}