.bar {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    height: 4.25rem;
    width: calc(100vw - 17px);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    font-size: 2rem;
    min-width: 14rem;
    color: lightgray
}

.logo span {
    color:darkblue;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px darkblue,
        0 0 82px darkblue,
        0 0 92px darkblue,
        0 0 102px darkblue,
        0 0 151px darkblue
}

.logo p:hover {
    cursor: pointer;
}