.bar {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    height: 4.25rem;
    width: 100vw;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-background);
    border-bottom: 1px solid var(--border-colour);
}

.logo {
    font-size: 2rem;
    min-width: 14rem;
    color: var(--icons);
}

.logo span {
    color: var(--icons);
    text-shadow:
        0 0 7px #ffffff80,
        0 0 10px #ffffff80,
        0 0 21px #ffffff80,
        0 0 42px var(--icons),
        0 0 82px var(--icons),
        0 0 92px var(--icons),
        0 0 102px var(--icons),
        0 0 151px var(--icons)
}

.logo p:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .bar {
        flex-direction: column;
        padding-top: 0;
        height: initial;
    }

    .logo {
        font-size: 1.75rem;
        min-width: 7rem;
        padding: 0.5rem 0;
    }

    .logo p {
        margin: 0;
    }
}