.postContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: aquamarine;
    margin-bottom: 20px;
}

.postInfoContainer {
    border: 1px solid black;
    display: flex;
}

.icon {
    border: 1px solid black;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postInfo {
    border: 1px solid black;
}

.link:hover {
    cursor: pointer;
}

.postInfo ul {
    display: flex;
    list-style: none;
}

.postInfo li {
    margin-right: 20px;
}

.content {
    border: 1px solid black;
    align-self: center;
    max-height: 350px;
    width: 90%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.contentVideo {
    border: 1px solid black;
    align-self: center;
    display: flex;
    justify-content: center;
    max-height: 350px;
    max-width: 350px;
}

.postImage {
    height: 300px;
}

.postText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.social {
    border: 1px solid black;
}

.thumbnail {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social ul {
    border: 1px solid black;
    display: flex;
    list-style: none;
}

.social li {
    border: 1px solid black;
    margin-right: 20px;
}

.comments {
    align-self: center;
}