.commentContainer {
    border: 1px solid var(--border-colour);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.commentInfoContainer {
    display: flex;
    align-items: center;
}

.icon {
    height: 2rem;
}

.commentInfo {
    display: flex;
}

.commentInfo p {
    margin-left: 1rem;
}

.commentBody {
    margin-top: 0;
    max-height: 4rem;
    overflow-y: scroll;
}