.commentContainer {
    border-top: 1px solid #D3D4ED80;
    padding: 0 1rem;
}

.commentContainer:last-child {
    border-bottom: 1px solid #D3D4ED80;
    margin-bottom: 0.5rem;
}

.commentInfoContainer {
    display: flex;
    align-items: center;
}

.icon {
    height: 2rem;
}

.commentInfo {
    display: flex;
}

.commentInfo p {
    margin-left: 1rem;
}

.commentBody {
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    .commentInfoContainer {
        margin: 0.5rem 0;
    }
    
    .commentInfo {
        flex-direction: column;
        justify-content: center;
    }

    .icon {
        height: 2.5rem;
    }

    .commentInfo p {
        margin: 0;
    }

    .timeSince {
        font-size: 0.875rem;
    }
}