.previews {
    position: absolute;
    top: 3.125rem;
    min-width: 39%;
    height: 10rem;
    margin-left: 1.2rem;
    overflow-y: scroll;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--dark-background);
    border-left: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
    border-right: 1px solid var(--border-colour);
}

.previews::-webkit-scrollbar-track {
    background: var(--dark-background);
    border-bottom-right-radius: 0.25rem;
}

.hide {
    display:none;
}

@media only screen and (max-width: 1024px) {
    .previews {
        min-width: 54%;
    }
}

@media only screen and (max-width: 768px) {
    .previews {
        min-width: 36%;
    }
}

@media only screen and (max-width: 600px) {
    .previews {
        top: 102px;
        left: 0.5rem;
        min-width: 84.2%;
        height: 15rem;
    }
}