.content {
  background-color: rgb(25,25,50);
  position: absolute;
  top: 4.25rem;
  width: calc(100vw - 17px);
}

.subredditInfo {
  display: flex;
}

.subredditInfo img {
  height: 40px;
}

main {
  padding: 2rem 7.5rem 0 7.5rem;
  margin-right: 17px;
  display: flex;
  justify-content: center;
}

.post {
  padding-left: 0.5rem;
  max-width: 56rem;
}