.content {
  display: flex;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}

.subredditInfo {
  display: flex;
}

.subredditInfo img {
  height: 40px;
}

.post {
  align-self: center;
}