.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 1px solid black;
}

.links {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.links ul {
    display: flex;
    border: 1px solid black;
}

.links li {
    list-style: none;
    margin-right: 2rem;
    border: 1px solid black;
}